{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {

  },
  "settings": {
    "import/parser": "babel-eslint"
  },
  "plugins": ["react"]
}
