
  .app {
    /*color: red;
    background-color: red;*/
  }
  .footer: {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
  }

  content: {
    min-height: 80%;
  }
